<load src="./header.html" title="single post" />

<main>
    <section class="about-intro-section">
        <div class="container">
            <div class="about-intro-section__body">
                <div class="about-intro-section__body--text">
                <h2>درباره ما</h2>
                <p>تیم دونته (doonteh) در سال ۱۳۹۸ با یک ایده ساده شروع به کار کرد: تولید محتوای تخصصی که نه فقط مشکل کاربر را حل کند، بلکه او را برای یک قدم جلوتر آماده سازد. ما از دل اکوسیستم استارتاپی ایران رشد کردیم و امروز، به عنوان یکی از مراجع تخصصی حوزه هوش مصنوعی و توسعه وب، هر روز با هزاران توسعه‌دهنده و علاقه‌مند به فناوری در ارتباط هستیم.<br/>
                    تیم دونته (doonteh) در سال ۱۳۹۸ با یک ایده ساده شروع به کار کرد: تولید محتوای تخصصی که نه فقط مشکل کاربر را حل کند، بلکه او را برای یک قدم جلوتر آماده سازد. ما از دل اکوسیستم استارتاپی ایران رشد کردیم و امروز، به عنوان یکی از مراجع تخصصی حوزه هوش مصنوعی و توسعه وب، هر روز با هزاران توسعه‌دهنده و علاقه‌مند به فناوری در ارتباط هستیم.
              
                </p>
                </div>
                <div class="about-intro-section__body--image">
                    <img src="../assets/images/content/about/about-into.jpg" alt="درباره ما">
                </div>
            </div>
        </div>
    </section>
</main>

<load src="./footer.html" />
