<load src="./header.html" title="آرشیو مطالب" />

<main class="container">
 <!-- breadcrumb -->
 <nav class="breadcrumb-section" aria-label="راهنمای مسیر">
  <div class="container">
   <div class="breadcrumb">
    <ol class="breadcrumb__items">
     <li><a href="#">خانه</a></li>
     <li><a href="#">تکنولوژی</a></li>
     <li><a href="#">هوش مصنوعی</a></li>
    </ol>
   </div>
  </div>
 </nav>

 <!-- title & desc -->
 <header class="archive-title" aria-label="عنوان و توضیحات آرشیو">
  <h1>
   آرشیو مطالب
   <span>تکنولوژی</span>
  </h1>
  <p class="archive-title__desc">
   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
   طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
   و با استفاده از طراحان گرافیک است.
  </p>
 </header>

 <div class="two-column-layout">
  <section class="posts-feed" aria-label="لیست مطالب">
   <ul class="post-list">
    <li class="post-item">
     <article class="post-item__card">
      <header class="post-item__card--title">
       <h2 class="post__title">
        <a href="../templates/single.html">
         خروج هزار میلیارد تومان پول حقیقی از صندوق‌های طلا
        </a>
       </h2>
       <p class="post_subtitle">
        ساعت معامله واحدهای این صندوق‌ها از ساعت ۱۱:۳۰ تا ۱۳:۳۰ است.
       </p>
       <div class="author">
        <div class="author__avatar">
         <img src="../assets/images/content/avatar.jpg" alt="author avatar" />
        </div>
        <p class="author__name">نوشته شده توسط عرفان رنجبران</p>
       </div>
      </header>
      <figure class="post-item__thumbnail">
       <a href="../templates/single.html">
        <img
         src="../assets/images/content/gold-exit.png"
         alt="post thumbnail"
        />
       </a>
      </figure>
     </article>
    </li>
    <li class="post-item">
     <article class="post-item__card">
      <header class="post-item__card--title">
       <h2 class="post__title">
        <a href="../templates/single.html">
         خروج هزار میلیارد تومان پول حقیقی از صندوق‌های طلا
        </a>
       </h2>
       <p class="post_subtitle">
        ساعت معامله واحدهای این صندوق‌ها از ساعت ۱۱:۳۰ تا ۱۳:۳۰ است.ساعت معامله
        واحدهای این صندوق‌ها از ساعت ۱۱:۳۰ تا ۱۳:۳۰ است.ساعت معامله واحدهای این
        صندوق‌ها از ساعت ۱۱:۳۰ تا ۱۳:۳۰ است.
       </p>
       <div class="author">
        <div class="author__avatar">
         <img src="../assets/images/content/avatar.jpg" alt="author avatar" />
        </div>
        <p class="author__name">نوشته شده توسط عرفان رنجبران</p>
       </div>
      </header>
      <figure class="post-item__thumbnail">
       <a href="../templates/single.html">
        <img
         src="../assets/images/content/gold-exit.png"
         alt="post thumbnail"
        />
       </a>
      </figure>
     </article>
    </li>
    <li class="post-item">
     <article class="post-item__card">
      <header class="post-item__card--title">
       <h2 class="post__title">
        <a href="../templates/single.html">
         خروج هزار میلیارد تومان پول حقیقی از صندوق‌های طلا
        </a>
       </h2>
       <p class="post_subtitle">
        ساعت معامله واحدهای این صندوق‌ها از ساعت ۱۱:۳۰ تا ۱۳:۳۰ است.
       </p>
       <div class="author">
        <div class="author__avatar">
         <img src="../assets/images/content/avatar.jpg" alt="author avatar" />
        </div>
        <p class="author__name">نوشته شده توسط عرفان رنجبران</p>
       </div>
      </header>
      <figure class="post-item__thumbnail">
       <a href="../templates/single.html">
        <img
         src="../assets/images/content/gold-exit.png"
         alt="post thumbnail"
        />
       </a>
      </figure>
     </article>
    </li>
   </ul>
  </section>
  <aside class="sidebar" aria-label="سایدبار"></aside>
 </div>
</main>

<load src="./footer.html" />
