<load src="./header.html" title="ارتباط با ما" />

<section class="contact-section">
    <div class="container">
        <div class="form-section">
            <h2 class="form-section__title">ارتباط با ما</h2>
            <p class="form-section__subtitle">از طریق فرم زیر با ما در تماس باشید.</p>

            <form action="" class="contact-form">
                <div class="contact-form__group">
                    <div class="contact-form__item">
                        <label for="name" class="contact-form__label">نام و نام خانوادگی</label>
                    <input type="text" id="name" class="contact-form__input"  required>
                    </div>
                    <div class="contact-form__item">
                        <label for="phone" class="contact-form__label">شماره موبایل</label>
                    <input type="text" id="phone" class="contact-form__input"  required>
                    </div>
                </div>
                <div class="contact-form__item">
                        <label for="phone" class="contact-form__label">موضوع پیام</label>
                    <input type="text" id="phone" class="contact-form__input"  required>
                    </div>
                <div class="contact-form__item">
                        <label for="message" class="contact-form__label">متن پیام</label>
                    <textarea id="message" class="contact-form__input"  required></textarea>
                    </div>
            </form>
        </div>
        <div class="hero-img">
            <img src="../assets/images/content/contact/contact-page.jpg" alt="Contact Us page image" >
        </div>
    </div>
</section>

<load src="./footer.html" />
