<load src="./header.html" title="single post" />

<!-- breadcrumb -->
<section class="breadcrumb-section">
  <div class="container">
    <div class="breadcrumb">
      <ul class="breadcrumb__items">
        <li><a href="#">خانه</a></li>
        <li><a href="#">تکنولوژی</a></li>
        <li><a href="#">هوش مصنوعی</a></li>
      </ul>
    </div>
  </div>
</section>

<!-- cover & title-->
<section class="cover-section">
  <div class="container">
    <div class="cover__title">
      <a class="cover__title--category" href="#">هوش مصنوعی</a>
      <h2 class="cover__title--title">
        آنتروپیک وارد صنعت داروسازی می‌‌شود؛ توسعه داروهای اختصاصی با هوش مصنوعی
      </h2>
      <p class="cover__title--excerpt">
        آنتروپیک پس از معرفی پلتفرم Claude Science، اکنون می‌خواهد وارد عرصه
        تولید دارو برای درمان بیماری‌های نادیده گرفته‌شده شود.
      </p>
      <div class="cover__title--author">
        <img src="../assets/images/content/avatar.jpg" alt="author avatar" />
        <div class="cover__title--author-info">
          <h4 class="cover__title--author-name">محمد عرفان رنجبران</h4>
          <p class="cover__title--author-date">۲۳ خرداد ۱۴۰۲</p>
        </div>
      </div>
      <div class="cover__title--share">
        <p>اشتراک گذاری:</p>
        <div class="cover__title--share-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-telegram-plane"></i></a>
        </div>
      </div>
    </div>
    <img
      src="../assets/images/content/claude-1.jpg"
      alt="single post cover"
      class="cover__img"
    />
  </div>
</section>
<!-- ------------------------------- footer -------------------------------- -->
<load src="./footer.html" />
