<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/style.scss" />
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css" />
    <title>Single Blog</title>
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <div class="site-header__fluid">
          <img src="../assets/images/common/logo.svg" alt="logo" />
          <div class="site-header__icons">
            <i class="fa-brands fa-sistrix"></i>
            <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
      </div>
    </header>
    <nav class="site-nav">
      <div class="container">
        <ul class="site-nav__menu">
          <li><a href="#">تکنولوژی</a></li>
          <li><a href="#">خودرو</a></li>
          <li><a href="#">نقد و بررسی</a></li>
          <li><a href="#">ویدیو</a></li>
          <li><a href="#">آموزش</a></li>
          <li><a href="#">راهنمای خرید</a></li>
          <li><a href="#">علمی</a></li>
          <li><a href="#">کسب و کار</a></li>
          <li><a href="#">دیجیاتو</a></li>
        </ul>
        <div class="site-nav__tags">
          <p>پرطرفدارها:</p>
          <ul class="site-nav__tags__items">
            <li><a href="#">آیفون ۱۷</a></li>
            <li><a href="#">گلکسی s26</a></li>
            <li><a href="#">هوش مصنوعی</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="cta">
          <div class="cta__text">
            <p class="cta__text__title">ما را در شبکه های اجتماعی دنبال کنید</p>
            <p class="cta__text__desc">
              همچنین می‌توانید جهت آگاهی از آخرین اخبار در حوزه تکنولوژی و اطلاع
              از بروزرسانی دیجیاتو مارا در شبکه‌های اجتماعی زیر نیز دنبال کنید.
              خوشحالیم که همراه ما هستید.
            </p>
          </div>
          <div class="cta__icons">
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-x"></i></a>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer__links">
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
          <div class="footer__links__item">
            <p class="title">تکنولوژی</p>
            <ul class="links">
              <li><a href="#">امنیت</a></li>
              <li><a href="#">اینترنت و شبکه</a></li>
              <li><a href="#">تبلت</a></li>
              <li><a href="#">دوربین</a></li>
              <li><a href="#">فناوری ایران</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="site__copyright">
      <div class="container">
        <p>
          توسعه با 💙 توسط عرفان رنجبران |
          <a href="https://weblight.agency">وبلایت</a>
        </p>
      </div>
    </div>
  </body>
</html>
