<load src="./header.html" title="single post" />

<main>
  <!-- breadcrumb -->
  <nav class="breadcrumb-section" aria-label="راهنمای مسیر">
    <div class="container">
      <div class="breadcrumb">
        <ol class="breadcrumb__items">
          <li><a href="#">خانه</a></li>
          <li><a href="#">تکنولوژی</a></li>
          <li><a href="#">هوش مصنوعی</a></li>
        </ol>
      </div>
    </div>
  </nav>

  <!-- cover & title-->
  <article>
    <section class="cover-section">
      <div class="container">
        <header class="cover__title">
          <a class="cover__title--category" href="#">هوش مصنوعی</a>
          <h1 class="cover__title--title">
            آنتروپیک وارد صنعت داروسازی می‌‌شود؛ توسعه داروهای اختصاصی با هوش
            مصنوعی
          </h1>
          <p class="cover__title--excerpt">
            آنتروپیک پس از معرفی پلتفرم Claude Science، اکنون می‌خواهد وارد عرصه
            تولید دارو برای درمان بیماری‌های نادیده گرفته‌شده شود.
          </p>
          <address class="cover__title--author">
            <img
              src="../assets/images/content/avatar.jpg"
              alt="author avatar"
              fetchpriority="high"
              decoding="sync"
              loading="eager"
            />
            <div class="cover__title--author-info">
              <h4 class="cover__title--author-name">محمد عرفان رنجبران</h4>
              <time datetime="2024-06-12" class="cover__title--author-date"
                >۲۳ خرداد ۱۴۰۲</time
              >
            </div>
          </address>
          <div class="cover__title--share">
            <p>اشتراک گذاری:</p>
            <div class="cover__title--share-icons">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <a href="#"><i class="fa-brands fa-telegram-plane"></i></a>
            </div>
          </div>
        </header>
        <figure class="cover__img">
          <img
            src="../assets/images/content/claude-1.jpg"
            alt="single post cover"
          />
        </figure>
      </div>
    </section>
    <section class="content-section">
      <div class="container">
        <!-- content body-->
        <section class="content-body">
          <div class="content-body__main">
            <p>
              آنتروپیک که با مدل‌های قدرتمند هوش مصنوعی خود در دنیای فناوری
              جولان می‌دهد، اکنون قدم در مسیر جدیدی گذاشته است. این شرکت قصد
              دارد با پلتفرم جدید Claude Science، وارد عرصه داروسازی شود و
              داروهای اختصاصی خود را تولید کند.
            </p>

            <p>
              به گزارش
              <a
                href="https://www.theverge.com/ai-artificial-intelligence/961311/anthropic-claude-science-ai-drug-development"
                target="_blank"
                rel="noreferrer noopener nofollow"
                >ورج</a
              >، مدیران آنتروپیک در رویداد The Briefing: AI for Scienc از پلتفرم
              <a
                href="https://digiato.com/artificial-intelligence/anthropic-claude-science-ai-workbench-release"
                target="_blank"
                rel="noreferrer noopener"
                >Claude Science</a
              >
              پرده برداشتند که با گردآوری ابزارها و مجموعه‌داده‌های پراکنده در
              یک محیط یکپارچه، نمودارها و تصاویر بصری دقیقی را برای دانشمندان
              ایجاد می‌کند. مدیر بخش علوم زیستی آنتروپیک در این مراسم اعلام کرد
              که شرکت قصد دارد روی کشف درمان برای بیماری‌های نادیده گرفته‌شده
              تمرکز کند. با وجود استقبال گسترده مشتریان حوزه بیوتکنولوژی از این
              ابزار، آنتروپیک هنوز جزئیات دقیقی درباره نحوه انجام آزمایش‌های
              حیوانی، کارآزمایی‌های بالینی یا همکاری با تولیدکنندگان دیگر ارائه
              نکرده است.
            </p>

            <h2 class="wp-block-heading" id="h-داروهای-هوش-مصنوعی-آنتروپیک">
              داروهای هوش مصنوعی آنتروپیک
            </h2>

            <p>
              شرکت‌های هوش مصنوعی اشتیاق فراوانی برای جذب مشتریان علمی و دارویی
              دارند. غول‌هایی مانند OpenAI، آمازون و گوگل پیش‌ازاین ابزارهای
              علوم زیستی خود را روانه بازار کرده‌اند. در این میان، آنتروپیک با
              تصمیم جدید خود در کنار شرکت‌های پیشگام این حوزه مانند Insilico و
              Isomorphic Labs قرار می‌گیرد.
            </p>

            <figure>
              <img
                decoding="async"
                width="1024"
                height="683"
                src="../assets/images/content/claude-2.jpg"
                alt=""
                class="content-body__img"
              />
            </figure>

            <p>
              بااین‌حال، متخصصان می‌گویند کشف دارو با هوش مصنوعی یک مفهوم بسیار
              گسترده است. «نامشیک هان»، استاد دانشگاه کمبریج، می‌گوید پژوهشگران
              از هوش مصنوعی در تمام مراحل داروسازی، از یافتن ترکیبات جدید تا
              تحلیل داده‌ها، استفاده می‌کنند. «متیو تاد»، استاد کالج دانشگاهی
              لندن، نیز باور دارد که این ابزارها سرعت تحقیقات را به شکل
              خیره‌کننده‌ای افزایش می‌دهند، اما کمبود داده‌های تجربی باکیفیت در
              زیست‌شناسی همچنان یک مانع جدی محسوب می‌شود.
            </p>

            <p>
              فناوری هوش مصنوعی هرگز نمی‌تواند به تنهایی نیاز به انجام
              آزمایش‌های فیزیکی را از بین ببرد. «فرانک فون دلفت»، استاد
              زیست‌شناسی شیمیایی در دانشگاه آکسفورد، توضیح می‌دهد که مدل‌های هوش
              مصنوعی هنوز فاصله زیادی تا حذف آزمایش‌های تجربی دارند.
            </p>

            <p>
              دانشمندان باید داروها را از نظر کارایی، سمیت و قابلیت تحویل ایمن
              در دنیای واقعی بسنجند. به نظر می‌رسد آنتروپیک نیز این واقعیت را به
              خوبی درک کرده است؛ گزارش‌ها نشان می‌دهند که این شرکت در سال گذشته
              زیست‌شناسان متعددی را استخدام کرده و آزمایشگاه‌های اختصاصی خود را
              ساخته است. منابع آگاه می‌گوید این غول فناوری توانسته است نخبگان
              علمی را از شرکت‌های بزرگ داروسازی و مؤسسات دانشگاهی معتبر جذب کند
              تا زیرساخت‌های فیزیکی لازم را برای این مأموریت بزرگ فراهم آورد.
            </p>
          </div>
          <!-- tags -->
          <ul class="content-body__tags">
            <li><a href="#">آنتروپیک</a></li>
            <li><a href="#">هوش مصنوعی</a></li>
            <li><a href="#">تکنولوژی</a></li>
          </ul>
          <!-- author -->
          <div class="content-body__author">
            <div class="avatar-social">
              <div class="author-avatar">
                <img
                  src="../assets/images/content/avatar.jpg"
                  alt="author avatar"
                  decoding="async"
                  loading="lazy"
                />
                <h3 class="author-name">محمد عرفان رنجبران</h3>
              </div>
              <div class="author-social">
                
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#"><i class="fa-brands fa-telegram-plane"></i></a>
              </div>
            </div>
            <p class="author-info">دانش‌آموخته‌ زبان‌شناسی‌ هستم و همان‌قدر که به «کلمه» علاقه‌مندم، از سرک‌کشیدن به گوشه‌وکنارِ جهان تکنولوژی و علم هم حظ می‌کنم.دانش‌آموخته‌ زبان‌شناسی‌ هستم و همان‌قدر که به «کلمه» علاقه‌مندم، از سرک‌کشیدن به گوشه‌وکنارِ جهان تکنولوژی و علم هم حظ می‌کنم.</p>

          </div>
        </section>
        <!-- sidebar -->
        <aside class="sidebar">
          <section class="sidebar__latest-content">
            <p class="latest-section__title">جدیدترین‌ها</p>
            <ul class="vertical-side--lg">
                <li class="vertical-side--lg__item">
                  <div class="thumbnail">
                    <a href="#"><img src="../assets/images/content/gold-exit.png" alt="thumbnail cover"></a>
                  </div>
                  <div class="meta">
                    <a href="#"><p class="meta__title">خروج هزار میلیارد تومان پول حقیقی از صندوق‌های طلا</p></a>
                  <div class="meta__author">
                  <p>نوشته شده توسط عرفان رنجبران</p>
                  <p>|</p>
                  <p>۱۳ ساعت قبل</p>
                </div>
                  </div>
                </li>
                <li class="vertical-side--lg__item">
                  <div class="thumbnail">
                    <a href="#"><img src="../assets/images/content/wikipedia.png" alt="thumbnail cover"></a>
                  </div>
                  <div class="meta">
                    <a href="#"><p class="meta__title">ویکی‌پدیا استفاده از هوش مصنوعی برای تولید محتوا را ممنوع کرد</p></a>
                  <div class="meta__author">
                  <p>نوشته شده توسط عرفان رنجبران</p>
                  <p>|</p>
                  <p>۱۳ ساعت قبل</p>
                </div>
                  </div>
                </li>
                <li class="vertical-side--lg__item">
                  <div class="thumbnail">
                    <a href="#"><img src="../assets/images/content/divar.png" alt="thumbnail cover"></a>
                  </div>
                  <div class="meta">
                    <a href="#"><p class="meta__title">محدودیت ثبت آگهی روی دیوار برداشته شد</p></a>
                  <div class="meta__author">
                  <p>نوشته شده توسط عرفان رنجبران</p>
                  <p>|</p>
                  <p>۱۳ ساعت قبل</p>
                </div>
                  </div>
                </li>
                </li>
                <li class="vertical-side--lg__item">
                  <div class="thumbnail">
                    <a href="#"><img src="../assets/images/content/ipad-mini.png" alt="thumbnail cover"></a>
                  </div>
                  <div class="meta">
                    <a href="#"><p class="meta__title">آیپد مینی اولد احتمالاً در سه‌ماهه سوم ۲۰۲۶ عرضه خواهد شد </p></a>
                  <div class="meta__author">
                  <p>نوشته شده توسط عرفان رنجبران</p>
                  <p>|</p>
                  <p>۱۳ ساعت قبل</p>
                </div>
                  </div>
                </li>
                <li class="vertical-side--lg__item">
                  <div class="thumbnail">
                    <a href="#"><img src="../assets/images/content/wikipedia.png" alt="thumbnail cover"></a>
                  </div>
                  <div class="meta">
                    <a href="#"><p class="meta__title">ویکی‌پدیا استفاده از هوش مصنوعی برای تولید محتوا را ممنوع کرد</p></a>
                  <div class="meta__author">
                  <p>نوشته شده توسط عرفان رنجبران</p>
                  <p>|</p>
                  <p>۱۳ ساعت قبل</p>
                </div>
                  </div>
                </li>
              </ul>
          </section>
        </aside>
      </div>
    </section>
  </article>
</main>
<!-- ------------------------------- footer -------------------------------- -->
<load src="./footer.html" />
