@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.container {
  width: 100%;
  max-width: v.$max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: v.$container-gutter;
  padding-right: v.$container-gutter;

  @include m.respond-to("lg") {
    padding-left: v.$container-gutter-lg;
    padding-right: v.$container-gutter-lg;
  }
}
