/* src/scss/base/_typography.scss */

/* 1. Light */
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 2. Regular */
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 3. Medium */
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 4. DemiBold */
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 5. Bold */
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 6. ExtraBold */
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* 7. Black */
@font-face {
  font-family: "IRANSansX";
  src: url("../assets/fonts/IRANSansX-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

$font-primary: "IRANSansX", sans-serif;
