@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

.main-layout {
 margin-bottom: f.rem(32);
}

.breadcrumb {
 width: 100%;
 padding: f.rem(24) 0;

 &__items {
  display: flex;
  align-items: center;
  gap: f.rem(8);

  li {
   a {
    font-size: f.rem(12);
    @include m.respond-to('md') {
     font-size: f.rem(14);
    }
    color: v.$color-text-header-secondary;
    &:hover {
     color: v.$color-brand;
    }
   }

   &:not(:last-child)::after {
    content: '>';
    margin-right: f.rem(8);
    color: v.$color-text-header-secondary;
   }
  }
 }
}

.archive-title {
 margin-bottom: f.rem(32);
 @include m.respond-to('lg') {
  margin-bottom: f.rem(72);
 }
 h1 {
  @include m.main-title;
  margin: f.rem(24) 0;
  color: v.$color-text-header-secondary;

  span {
   color: v.$color-text-header;
  }
 }
 &__desc {
  color: v.$color-text-date;
  line-height: 180%;
  font-size: f.rem(12);
  @include m.respond-to('lg') {
   font-size: f.rem(14);
  }
 }
}

.two-column-layout {
 display: flex;
 flex-direction: row;
 gap: f.rem(24);
}
.posts-feed {
 flex: 2;
}

.post-list {
 .post-item {
  margin-bottom: f.rem(24);

  &:not(:first-child) {
   padding-top: f.rem(24);
  }
  padding-bottom: f.rem(24);

  &:not(:last-child) {
   border-bottom: 1px solid v.$color-border;
  }
  &__card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: f.rem(20);
   flex-direction: row-reverse;
   @include m.respond-to('lg') {
    flex-direction: row;
   }

   &--title {
    max-width: 40%;
    .post__title {
     font-weight: bold;
     line-height: 150%;
     margin-bottom: f.rem(10);
     font-size: f.rem(16);
     @include m.respond-to('lg') {
      font-size: f.rem(18);
      max-width: 50%;
     }

     a {
      color: v.$color-text-blue-title;
      &:hover {
       color: v.$color-text-dark-subheader;
      }
     }
    }
    .post_subtitle {
     font-size: f.rem(12);
     font-weight: 500;
     line-height: 150%;
     margin-bottom: f.rem(24);
     @include m.respond-to('lg') {
      font-size: f.rem(14);
     }
    }
   }
   .author {
    display: flex;
    align-items: center;
    gap: 8px;

    &__avatar {
     width: 32px;
     height: 32px;
     border-radius: 100%;
     overflow: hidden;

     img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
     }
    }
    &__name {
     font-size: f.rem(10);
     color: v.$color-text-dark-blue;
     line-height: 150%;
     @include m.respond-to('lg') {
      font-size: f.rem(12);
     }
    }
   }
  }

  &__thumbnail {
   a {
    overflow: hidden;
    height: f.rem(198);
    display: block;
    border-radius: f.rem(16);
    img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     aspect-ratio: 1.61/1;
     @include m.transition-animation;
     transform: scale(100%);

     &:hover {
      @include m.transition-animation;
      transform: scale(105%);
     }
    }
   }
  }
 }
}

.sidebar {
 display: none;
 @include m.respond-to('lg') {
  display: block;
  flex: 1;
 }

 ul {
  display: flex;
  flex-direction: column;
  gap: f.rem(32);
  align-items: center;

  li {
   width: 290px;
   height: 290px;
   background-color: v.$color-bg-gray;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 16px;
   font-weight: bold;
   color: v.$color-text-header-secondary;
  }
 }
}
