@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.breadcrumb {
  width: 100%;
  padding: f.rem(24) 0;

  &__items {
    display: flex;
    align-items: center;
    gap: f.rem(8);

    li {
      a {
        font-size: f.rem(14);
        color: v.$color-text-header-secondary;
        &:hover {
          color: v.$color-brand;
        }
      }

      &:not(:last-child)::after {
        content: ">";
        margin-right: f.rem(8);
        color: v.$color-text-header-secondary;
      }
    }
  }
}

.cover-section {
  padding-bottom: f.rem(72);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-direction: column-reverse;

    @include m.respond-to("lg") {
      flex-direction: row;
    }

    .cover__img {
      width: 100%;
      img {
        border-radius: 16px;
      }
    }

    .cover__title {
      @include m.respond-to("lg") {
        padding-left: f.rem(72);
      }

      &--category {
        color: v.$color-text-blue-title;
        font-weight: 700;
        font-size: f.rem(16);
        line-height: 150%;
        margin: f.rem(16) 0;
        display: inline-block;

        &:hover {
          color: v.$color-brand-secondary;
        }
      }
      &--title {
        margin-bottom: f.rem(16);
        color: v.$color-brand-dark-blue;
        font-size: f.rem(24);
        line-height: 150%;
        font-weight: 700;

        @include m.respond-to("lg") {
          font-size: f.rem(40);
        }
      }
      &--excerpt {
        color: v.$color-text-header-secondary;
        line-height: 180%;
        font-size: f.rem(14);
        margin-bottom: f.rem(24);

        @include m.respond-to("lg") {
          font-size: f.rem(16);
          margin-bottom: f.rem(32);
        }
      }
      &--author {
        display: flex;
        align-items: center;
        gap: f.rem(16);
        margin-bottom: f.rem(32);

        &-info {
          display: flex;
          flex-direction: column;
          gap: f.rem(4);
        }
        &-name {
          color: v.$color-text-header-secondary;
          line-height: 150%;
          font-size: f.rem(12);
          @include m.respond-to("lg") {
            font-size: f.rem(14);
          }
        }
        &-date {
          color: v.$color-text-header-secondary;
          line-height: 150%;
          font-size: f.rem(12);
          @include m.respond-to("lg") {
            font-size: f.rem(14);
          }
        }

        img {
          width: f.rem(42);
          aspect-ratio: 1/1;
          border-radius: 100%;
        }
      }
      &--share-icons {
        display: flex;
        align-items: center;
        gap: f.rem(14);
      }
      &--share {
        display: flex;
        align-items: center;
        gap: f.rem(16);

        p {
          font-weight: 600;
          color: v.$color-brand-dark-blue;
        }

        i {
          font-size: f.rem(20);
          color: v.$color-text-header-secondary;

          &:hover {
            color: v.$color-brand-secondary;
          }
        }
      }
    }
  }
}

.content-section {
  width: 100%;
  .container {
    display: flex;
    gap: f.rem(100);

    .content-body {
      flex-grow: 2;
      flex-basis: 0;

      &__main {
        p {
          color: v.$color-text-main;
          line-height: 200%;
          font-size: f.rem(18);
          margin-bottom: f.rem(24);
          font-weight: 300;
        }
        a {
          color: v.$color-brand-secondary;
          font-weight: 600;
          &:hover {
            color: v.$color-brand;
          }
        }
        h2,
        h3,
        h4 {
          margin-bottom: f.rem(8);
          color: v.$color-brand-dark-blue;
          font-weight: 700;
          line-height: 150%;
        }
        h2 {
          font-size: f.rem(24);
        }
        h3 {
          font-size: f.rem(20);
        }
        h4 {
          font-size: f.rem(18);
        }
        figure {
          margin-bottom: f.rem(24);

          img {
            border-radius: 16px;
          }
        }
      }

      &__tags {
        display: flex;
        align-items: center;
        gap: f.rem(8);
        flex-wrap: wrap;
        margin: f.rem(32) 0;
        li {
          a {
            color: v.$color-brand-dark-blue;
            font-size: f.rem(14);
            line-height: 200%;
            font-weight: 600;
            padding: f.rem(8) f.rem(16);
            border-radius: f.rem(8);
            background-color: v.$color-bg-gray-secondary;

            &:hover {
              background-color: v.$color-bg-gray;
            }
          }
        }
      }
    }
    .sidebar {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;

      .latest-section {
        &__title {
          height: fit-content;
          @include m.main-title;
        }

        &__list {
          display: flex;
          flex-direction: column;
          gap: f.rem(16);
        }
      }

      .vertical-side--lg {
        @include m.vertical-contents--lg;
        gap: f.rem(32);
      }
    }
  }
}
