/* src/scss/abstracts/_mixins.scss */
@use "variables" as v;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "sm" {
    @media (min-width: v.$breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == "md" {
    @media (min-width: v.$breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == "lg" {
    @media (min-width: v.$breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == "xl" {
    @media (min-width: v.$breakpoint-xl) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@mixin flex-center-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
@mixin transition-animation {
  transition: all 0.2s ease-out;
}
