// 1. Load Abstracts (Variables, Functions, Mixins)
// These don't output CSS, but provide the tools for files below
@use "abstracts/variables" as v;
@use "abstracts/functions" as f;
@use "abstracts/mixins" as m;

// 2. Load the Reset (MUST be the first outputting CSS file)
@use "base/reset";

// 3. Load other Base styles
@use "base/typography";
@use "base/layout";

// 4. Load Components
@use "components/header";
@use "components/slick.scss" as *;
@use "components/slick-theme.scss" as *;

/* ----------------------------- header & navbar ---------------------------- */
.site-header {
  padding: v.$space-lg f.rem(12);
  background-color: v.$color-bg-box;

  &__fluid {
    @include m.flex-center-reverse;

    img {
      width: f.rem(96);
    }

    // responsive -- Desktop
    @include m.respond-to("lg") {
      @include m.flex-center;
    }
    justify-content: space-between;
  }

  &__icons {
    @include m.flex-center;
    gap: v.$space-lg;
  }

  .fa-sistrix,
  .fa-user {
    display: none;

    // responsive -- Desktop
    @include m.respond-to("lg") {
      display: block;
    }
    font-size: f.rem(24);
    color: v.$color-icon;
    &:hover {
      color: v.$color-brand;
      transform: scale(120%);
      @include m.transition-animation;
    }
  }

  .fa-bars {
    font-size: f.rem(32);
    color: v.$color-icon;
    &:hover {
      color: v.$color-brand;
      @include m.transition-animation;
    }
    // responsive -- Desktop
    @include m.respond-to("lg") {
      display: none;
    }
  }
}

.site-nav {
  display: none;
  @include m.respond-to("lg") {
    display: block;
    @include m.flex-center;
    background-color: v.$color-bg-gray-secondary;
  }

  .container {
    @include m.flex-center;
    justify-content: space-between;
  }

  &__menu {
    @include m.flex-center;

    li {
      padding: f.rem(24) f.rem(20);
      font-size: f.rem(16);
      a {
        color: v.$color-text-header;
      }
    }
  }
  &__tags {
    @include m.flex-center;
    gap: f.rem(14);

    p {
      gap: f.rem(14);
      color: v.$color-text-header;
      font-size: f.rem(16);
      font-weight: 500;
    }
    &__items {
      @include m.flex-center;
      gap: f.rem(24);
      li a {
        color: v.$color-text-header-secondary;
        font-size: f.rem(12);
      }
    }
  }
}

/* ------------------------------ hero section ------------------------------ */

//mobile hero section
.hero-section--sm {
  padding: f.rem(16) f.rem(16) f.rem(16) 0;
  @include m.respond-to("lg") {
    display: none;
  }

  .hero-section__carousel {
    &__item {
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      margin-left: f.rem(16);
    }

    &__picture {
      display: block;
      width: 100%;
      aspect-ratio: 388 / 462;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &__content {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; // pushes content to bottom like digiato
      padding: f.rem(16);
      gap: f.rem(16);
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        transparent 100%
      );

      .content__category {
        width: fit-content;
        background: v.$color-brand-dark-blue;
        color: #fff;
        font-size: f.rem(10);
        padding: f.rem(4) f.rem(8);
        border-radius: 6px;
      }

      .content__title {
        color: #fff;
        font-size: f.rem(18);
        font-weight: 700;
        line-height: 1.6;
      }

      .content__author {
        margin-right: f.rem(16);

        &::before {
          @include m.red-rect;
        }
      }

      .content__meta {
        display: flex;
        align-items: center;
        gap: f.rem(8);
        font-size: f.rem(10);
        color: v.$color-bg-white;
        position: relative;
      }
    }
  }
}

// desktop hero section
.hero-section--lg {
  display: none;
  @include m.respond-to("lg") {
    display: block;
  }
  .container {
    margin: f.rem(40) auto f.rem(90) auto;
  }

  .hero-section__grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: f.rem(16);
    grid-template-areas:
      " box-1 box-2 box-3"
      " box-4 box-2 box-5";
    height: f.rem(600);

    .grid__item {
      overflow: hidden;
      position: relative;
      border-radius: f.rem(12);

      &:hover .grid__item__picture {
        transform: scale(1.08);
      }
      &:hover .grid__item__content .content__title {
        background-color: rgba(22, 32, 91, 0.6509803922);
      }

      &__picture {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform 0.45s ease;
        will-change: transform;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      &__content {
        pointer-events: none;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.85) 0%,
          rgba(0, 0, 0, 0.3) 50%,
          transparent 100%
        );
        position: absolute;
        bottom: 0;
        right: 0;
        padding: f.rem(24);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: f.rem(16);

        .content__title {
          pointer-events: all;
          font-size: f.rem(24);
          color: v.$color-bg-white;
          font-weight: 700;
          background-color: rgba(22, 32, 91, 0.4);
          padding: f.rem(10) f.rem(12);
          border-radius: 8px;
        }
      }

      &__content__meta {
        display: flex;
        align-items: center;
        gap: f.rem(8);
        font-size: f.rem(10);
        color: v.$color-bg-white;
        position: relative;
        font-size: f.rem(12);
        font-weight: 400;
        color: v.$color-bg-white;
        background-color: rgba(22, 32, 91, 0.4);
        padding: f.rem(5) f.rem(8);
        border-radius: 8px;
      }
    }
  }
}
